@font-face {
    font-family: SquaresBold;
    src: url("Squares Bold Free.otf");
}

html {
	height: 100%; }

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
	font-family: SquaresBold;
	color: white;
}

a {
	text-shadow: none;
	text-decoration: unset;
}

h1, h2, h3 {
	margin: 0; }

.centered {
  position: relative;
  margin: 0 auto;
  text-align: center; }

#title {
	padding: 1rem;
	color: white;
	color: #00aaff;
	text-shadow: 0 0 0.2rem #00ccff; }
	#title img {
		display:block; /* prevent extra padding */
		position: relative;
		margin: 0 auto;
	}
#title img {
	width: 60rem;
}
.row {
	width: 600px;
}
.even-spacing {
    display: flex;
    justify-content: space-between;
}
.link {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border-style: none;
}
.link img {
	height: 100%;
}
.text {
	//text-shadow: 0 0 0.2rem #0055ff;
	padding: 0.5rem; }
#virhex {
	margin-top: 4rem;
	background: white;
	padding: 1rem;
}

.preview_img {
	height: 5rem;
}