@font-face {
    font-family: SquaresBold;
    src: url("Squares Bold Free.otf");
}

html {
	height: 100%; }

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
	font-family: SquaresBold;
	color: white;
}

a {
	text-shadow: none;
	text-decoration: unset;
}

h1, h2, h3 {
	margin: 0; }

.centered {
  position: relative;
  margin: 0 auto;
  text-align: center; }

#title {
	padding: 1rem;
	color: white;
	color: #00aaff;
	text-shadow: 0 0 0.2rem #00ccff; }
	#title img {
		display:block; // prevent extra padding
		position: relative;
		margin: 0 auto;
	}
.link {
	width: 3rem;
	height: 3rem;
	border-style: none;
}
.text {
	//text-shadow: 0 0 0.2rem #0055ff;
	padding: 1rem; }